<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layouts/common_layout">
<head><meta charset="utf-8"/></head>
<body>
	<!-- START CONTENTS --> 
	<div layout:fragment="content" class="avkd-content">
		<div class="container-fluid padding-15 sm-padding-5">
			<div class="row">
				<div class="widget-notice col-xs-12 col-md-7">
					<div class="card no-border no-margin">
						<div class="card-header">
							<div class="card-title">
								<i class="fas fa-bullhorn m-r-5"></i>
								<a href="javascript:alert('[TODO] 공지사항 페이지로 이동.');">공지사항</a>
							</div>
						</div>
						<div class="card-block">
							<div class="row">
<!-- 								<div class="col-sm-12"> -->
									<table class="col-sm-12 table table-sm table-hover no-margin">
										<thead class="txt-center">
											<tr class="d-flex">
												<th scope="col" class="col-10">제 목</th>
												<th scope="col" class="col-2">일 자</th>
											</tr>
										</thead>
										<tbody>
											<!-- LOOP -->
											<tr class="d-flex">
												<td class="col-10">(부대표) 이새끼들 어서 내밑으로 다 집합해!</td>
												<td class="col-2">18-11-07</td>
											</tr>
											<!-- // LOOP -->
											<tr class="d-flex">
												<td class="col-10">(필독) 조현권 부대표의 잘생김 여부 투표 일정</td>
												<td class="col-2">18-11-01</td>
											</tr>
											<tr class="d-flex">
												<td class="col-10">눈물이 흘러 이별인걸 알아서</td>
												<td class="col-2">18-10-25</td>
											</tr>
											<tr class="d-flex">
												<td class="col-10">이번 주 내로 모든 인원들은 IZ*one 앨범을 일괄 구매하도록 하세요.</td>
												<td class="col-2">18-10-15</td>
											</tr>
											<tr class="d-flex">
												<td class="col-10">조현권 부대표 치질 수술 무사 기원제</td>
												<td class="col-2">18-09-02</td>
											</tr>
										</tbody>
									</table>
<!-- 								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
<!--/*
			<div class="row">
				<div class="col-md-12 col-lg-8 col-xlg-6 md-m-t-10">
					<div class="card no-border no-margin">
						<div class="card-header">
							<div class="card-title">
								<i class="fas fa-map-marker-alt"></i>
								<span>서울, 마포구 상암동</span>
							</div>
						</div>
						<div class="card-block">
							<div class="p-l-5">
								<div class="row">
									<div class="col-sm-6">
										<div class="row m-t-20">
											<div class="col-lg-7">
												<h4 class="no-margin">월요일</h4>
												<p class="small hint-text">2018년 11월 07일</p>
											</div>
											<div class="col-lg-5"></div>
										</div>
									</div>
									<div class="col-sm-6 hidden-sm-down">
										<div class="forecast-day col-sm-6 text-center m-t-10"></div>
										<div class="col-sm-6 text-center m-t-10"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
*/-->
		</div>
	</div>
	<!-- END CONTENTS -->
</body>
<script type="text/javascript" layout:fragment="content-js">
console.log("Home");
</script>
</html>
