<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head><meta charset="UTF-8"/></head>
<!-- HEADER -->
<div class="avkd-header" th:fragment="header">
	<div class= "color-dark sm-show m-l-10">
		<i class="fas fa-bars fs-25 nav-bar"></i>
	</div>
	<div class="brand-wrap">
		<div class="brand inline m-l-10">
			<h3 class="txt-c-avkd-darker font-w-b">아보카도 그룹웨어</h3>
		</div>
	</div>
	<div class="align-items-center">
		<div class="pull-left p-r-10 p-t-10 sm-hide">
			<span>Eddie Hyunkwon Cho</span>
		</div>
		<i class="fs-35 fas fa-cog p-r-10 color-dark user-setting"></i>
	</div>
</div>
<!-- // HEADER -->
</html>